/* Footer.css */
.footer {
  background-color: #80abe2;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer p {
    margin: 5px 0;
  }
  